:root {
  --background-color-1: #fafafa;
  --background-color-2: #f0f0f0;
  --text-color: #323232;
  --text-color-2: #fafafa;
  --text-color-3: #838383;
  --icon-color: #979797;

  --main-dark-blue-color: #122c6f;
  --main-orange-color: #f13b1c;
  --main-green-color: #40d872;
  --main-blue-color: #6695ed;
  --main-red-color: #b82638;
  --main-yellow-color: #f6c445;

  --light-green-text-color: #b3f4c8;
  --light-blue-text-color: #bdd2f9;
  --light-red-text-color: #f7bbc2;
  --light-yellow-text-color: #fce9b8;

  // small screen
  --small-font-size: 1.2rem;
  --normal-font-size: 1.6rem;
  --header-font-size: 2.1rem;
}
